
.ipynb_checkpoints/Get_data-checkpoint.ipynb
.ipynb_checkpoints/Get_data-checkpoint.ipynb
.ipynb_checkpoints/Get_data-checkpoint.ipynb
files/Confirmed_cases_by_date_age_sex_and_province.csv
*.csv
.ipynb_checkpoints/Get_data-checkpoint.ipynb
.ipynb_checkpoints/Get_data-checkpoint.ipynb
